:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #008aa1;
  font-family: helvitica, sans-serif;
  color: #3b3936;
  width: 80%;
}
.the-daily-kitteh {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcf2fa;
  padding: 1rem;
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
}
#navbar {
  background-color: #008aa1;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: whitesmoke;
  text-decoration: underline;
}

#navbar {
  list-style: none;
}

figure {
  display: flex;
  background-color: #dcf2fa;
  flex-direction: column;
  padding: 2rem;
  width: 200px;
  border: #1f4c5c;
}

.main-text {
  background-color: #dcf2fa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}

.main-body-text {
  font-size: 14px;
}

#footerlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  background-color: #fae3e5;
  padding: 1rem;
  margin: 0%;
}

.nick {
  display: flex;
  justify-content: center;
  background-color: #dcf2fa;
  margin-bottom: 0%;
}

.KOD {
  border: 1px black;
  border-style: solid;
}
